*, *:before, *:after {
  box-sizing: border-box;
}

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

body {
  background-color: #333;
  font-family: "system";
  font-size: 10px;
}

.container {
  margin: 100px auto;
  padding-top: 3px;
  width: 375px;
  background-color: #fff;
}

h1 {
  font-size: 2.5em;
  font-weight: 500;
}

h2 {
  font-size: 1.5em;
  font-weight: 500;
  float: right;
  text-align: right;
}

h3 {
  font-size: 1.5em;
  line-height: 1.5;
}

/***status bar***/
.sta-bar {
  width: 375px;
  height: 25px;
  padding-right: 1%;
  background-color: #ededed;
}

.battery, .wifi, .signal {
  float: right;
  color: #000;
  display: inline-block;
  padding: 4px;
}

.time {
  float: left;
  color: #000;
  display: inline-block;
  padding: 6px;
  margin-left: 20px;
}

.time h4 {
 font-size: 1.2em;
}

/***navigations and search***/
.navigation, .stop-name, .search {
  width: 375px;
  background-color: #ededed;
}

.arrow-left {
  width: 5%;
  padding-left: 15px;
  padding-top: 15px;
  margin-right: 20px;
  display: inline-block;
}

.arrow-left > i {
  color: #007AFF;
}

.stop-name {
  padding: 5%;
}

.back {
  display: inline-block;
}

.back h1{
  font-size: 1.8em;
  font-weight: 200;
  color: #007AFF;
}

.search {
  height:45px;
  border-bottom: 1px solid #ADADAD;
}

input {
  width: 80%;
  height: 30px;
  font-size: 1.5em;
  margin-left: 10px;
  padding-left: 10px;
  border: none;
  border-radius: 8px;
  display: inline-block;
}

.s-icon {
  color: #8e8e93;
  margin-left: 18px;
  margin-top: 5px;
  display: inline-block;
}

/*** all bus route ***/
.all-route {
  height: 391px;
  overflow: scroll;
}

/*** live bus route ***/
.busroute {
  width: 375px;
  height: 70px;
  border-bottom: solid 1px #ADADAD;
}

.busroute:hover {
  background-color: #ededed;
}

.out-of-service:hover {
  background-color: #ededed;
}

.busline-destination {
  width: 65%;
  padding-left: 5%;
  margin-top: 10px;
  display: inline-block;
}

.bus-time {
  width: 25%;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
}

.line-destination {
  width: 55%;
  padding-left: 5%;
  margin-top: 10px;
  display: inline-block;
}

.resume-time {
  width: 35%;
  height: 50px;
  vertical-align: middle;
  display: inline-block;
}

.live-route h2 {
  color: #2EA19A;
}

/*** out-of-service ***/
.out-of-service {
  width: 375px;
  height: 70px;
  border-bottom: solid 1px #ADADAD;
}

.out-of-service h1 {
  color: #7d7d7d;
}

.out-of-service h2 {
  color: #7d7d7d;
}

.out-of-service h3 {
  color: #7d7d7d;
}

.arrow {
  padding: 5% 0;
  margin-top: 4px;
  margin-right: 10px;
  float: right;
  color: #979797;
}
